<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhSI0JdOIgYsD4AONzu5sphwCm9F0RLeM</string>
	<key>GCM_SENDER_ID</key>
	<string>1081205853388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adityatri.instigrim</string>
	<key>PROJECT_ID</key>
	<string>instigrim-c82f8</string>
	<key>STORAGE_BUCKET</key>
	<string>instigrim-c82f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081205853388:ios:e97367a870233182d9c669</string>
</dict>
</plist>